{% extends 'base.system/base.html' %}

{% block content %}
<div class="wrapper">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
<div class="p-4 sm:ml-64">
  <div class="text-center text-3xl text-white">
    <h1>Loja Codexpo</h1>
  </div>
  <div class="text-center text-white">
    <p class="text-1xl">Conheça nossa loja! Como funciona? Basta escolher o item e reserva-lo, você irá receber um email
      informando como retirar e pagar seu item no evento</p>
  </div>
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -m-4">
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block"
              src="../../static/img/itens/tshirt-mockup-hanging-in-a-tshirts-section-00168.png">
          </a>
          <div class="mt-4">
            <h3 class="text-white text-xs tracking-widest title-font mb-1">CAMISA CODEXPO</h3>
            <p class="mt-1 text-gray-50">$16.00</p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block"
              src="../../static/img/itens/plain-beanie-flatlay-mockup-004 (1).png">
          </a>
          <div class="mt-4">
            <h3 class="text-white text-xs tracking-widest title-font mb-1">TOUCA CODEXPO</h3>
            <p class="mt-1 text-gray-50 ">$21.15</p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block"
              src="../../static/img/itens/man-hd-0025.png">
          </a>
          <div class="mt-4">
            <h3 class="text-white text-xs tracking-widest title-font mb-1">MOLETOM CODEXPO</h3>
            <p class="mt-1 text-gray-50 ">$12.00</p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block"
              src="../../static/img/itens/hmlv-mug-005 (1).png">
          </a>
          <div class="mt-4">
            <h3 class="text-white text-xs tracking-widest title-font mb-1">XÍCARA CODEXPO</h3>
            <p class="mt-1 text-gray-50 ">$18.40</p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block"
              src="../../static/img/itens/flatlay-gaming-pad-mockup-with-pc-setup-004.png">
          </a>
          <div class="mt-4">
            <h3 class="text-white text-xs tracking-widest title-font mb-1">MOUSEPAD CODEXPO</h3>
            <p class="mt-1 text-gray-50 ">$16.00</p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block"
              src="../../static/img/itens/cover-mockup-0016.png">
          </a>
          <div class="mt-4">
            <h3 class="text-white text-xs tracking-widest title-font mb-1">CAPINHA CODEXPO</h3>
            <p class="mt-1 text-gray-50 ">$21.15</p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block"
              src="../../static/img/itens/bottle-mockup-001.png">
          </a>
          <div class="mt-4">
            <h3 class="text-white text-xs tracking-widest title-font mb-1">GARRAFINHA CODEXPO</h3>
            <p class="mt-1 text-gray-50 ">$12.00</p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block"
              src="../../static/img/itens/acc-tb-002.png">
          </a>
          <div class="mt-4">
            <h3 class="text-white text-xs tracking-widest title-font mb-1">BOLSA CODEXPO</h3>
            <p class="mt-1 text-gray-50 ">$18.40</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}