<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codexpo</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
</head>

<body class="bg-black">
    <div class="wrapper">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
</div>

<div class="w-full h-screen flex items-center justify-center">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="text-3xl"> 
            <h1>Login</h1>
        </div>
        <div class="text-1xl pt-4 pb-4 "> 
            <p>Faça Login para acessar a codexpo</p>
        </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
          Email
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="text" placeholder="email">
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
          Password
        </label>
        <input class="shadow appearance-none border border-teal-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="******************">
        <p class="text-gray-800 text-xs italic">Escolha uma senha segura</p>
      </div>
      <div class="flex items-center justify-between">
        <button class="bg-teal-600 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
          Login
        </button>
        <a class="inline-block align-baseline font-bold text-sm text-teal-600 hover:text-teal-800" href="{{url_for('register')}}">
          Fazer Cadastro
        </a>
      </div>
      <div class="text-center items-center justify-center pt-2 flex items-center">
        <a href="{{url_for('index')}}"><i class="uil uil-arrow-left"></i>
            <p>voltar</p></a>
      </div>
      
    </form>
  </div>

</body>
</html>